@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
body {
    margin: 0px;
    background-color: white;
    font-family: Montserrat-Regular;
}
.menu-btn {
    padding: 20px;
    width: 173px;
    height: 100%;
    border-radius: 26px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.grad-btn {
    background: linear-gradient(to right, #9946FF, #5751FF)
}
.menu-list {
    background-color: white;

}
.menu-list:focus {
    background: white;

}
.menu-list:hover {
    background-color: white;
}
.btn-secondary {
    --mdb-btn-color: white;
    --mdb-btn-hover-color: white;
    --mdb-btn-focus-color: white;
    --mdb-btn-active-color: #d7deeb;
    --mdb-btn-bg: white;
}
.green-text {
    color: #21A038;
    font-weight: 700;
}
.menu-line {
    border-color: #21A038;
    border-width: 2px;
}
.header-block {
    background: linear-gradient(to bottom right, #9A5CE570 44%, #3D1BBCC9 79%);
    border-radius: 86px;
}
.header-title {
    color: white;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    @media (max-width: 767.98px) {
        font-size: 2.5rem !important;
    }
}
.intro-text {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
    width: 70%;
    color: white;
    line-height: 120%;
    @media (max-width: 767.98px) {
        font-size: 1rem !important;
    }
}
.btn-header {
    color: white;
    border-radius: 26px;
    font-weight: 700;
    text-align: center;
}
.btn-sign {
    border: 10px white;
}
.slogan-section {
    margin: 40px 0px;
    background-color: #B38DE2;
}
.slogan-title {
    font-size: 128px;
    font-weight: bold;
    background: linear-gradient(#FFFFFF, #4524BE 79.85%, #3D1BBC 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (max-width: 374.98px) {
        font-size: 2rem !important;
    };
    @media (min-width: 375px) and (max-width: 767.98px) {
        font-size: 2.5rem !important;
    };
    @media (min-width: 768px) and (max-width: 1150px) {
        font-size: 5rem !important;
    };
}
.slogan-text {
    margin-left: 40px;
    font-size: 36px;
    font-weight: 700;
    border-width: 2px;
    border-color: #CECECE;
    @media  (max-width: 1149.98px) {
        font-size: 1rem !important;
    }
}
.recommendation-section {
    text-align: center;
    margin: 30px 0;
    background: linear-gradient(rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.60)), url("../img/students.png") center/cover;
    @media (max-width: 767.98px) {
        background: white !important;
    }
}
.recommend-title {
    margin: 0px;
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
    @media (max-width: 767.98px) {
        color: #5835D9 !important;
        line-height: 110%;
        margin-bottom: 10px;
    }
}
.recommend-text {
    margin: 0px;
    color: #5835D9;
    font-size: 16px;
}
.uni-logo {
    background-color: #DCBFFFF0;
    border: 1px #3D1BBCC9;
    border-radius: 40px;
    width: 332px;
    height: 139px;
}
.uni-logo p {
    text-align: start;
    color: #000000;
    font-size: 16px;
    line-height: 120%;
}
.uni-logo-image {
    width: 63.75px;
    
}
.uni-name {
    font-weight: 700;
}
.review-title {
    color: #000000;
    font-size: 40px;
    font-weight: 700;
}
.video-review {
    background-color: #E1DCE891;
    max-width: 514px;
    height: 633.62px;
    border-radius: 49px;
}
.video-reviews {
    margin: 0 0 20px 0;
    background-color: #664BCA;
}

.video-title {
    color: #2c3e50;
    margin-bottom: 15px;
}
.question-title {
    color: #5835D9;
    font-size: 36px;
    line-height: 120%;
    font-weight: 700;
}
.questions {
    background-color: #B38DE2BD;
    border-radius: 34px;
}
.footer {
    background-color: #7D52B2C4;
}
.copyright {
    color: #000000;
    margin: 0px;
    font-size: 15px;
    font-weight: 700;
}
.photo-profile {
    background-color: #D8B7FF;
    border-radius: 70px;
    width: 261px;
    height: 282px;
}
.student-name {
    font-size: 36px;
    font-weight: 700;
    color: #000000;
}
.profile-link {
    font-size: 24px;
    font-weight: 400;
    color: #4B46AE;
}
.app-title {
    color: #000000;
    font-size: 48px;
    font-weight: 700;
}
.app-block {
    background-color: #664BCA;
}
.application {
    background-color: #D8B7FF;
    border-radius: 79px;
    width: 368px;
    height: 355px;
}
.application p {
    margin: 0px;
    font-size: 36px;
    text-align: center;
    color: #000000;
}
.calendar-block {
    background-color: #D9D9D9;
    border-radius: 59px;
    height: 600px;
}
.calendar-block h2 {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
}
.uni-name {
    text-align: center
}
.main-uni-info {
    background-color: #D8B7FF;
    border-radius: 78px;
}
.main-uni-title {
    color: #000000;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.main-uni-info div {
    color: #000000;
    font-size: 20px;
}
.direct-title {
    color: #000000;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.direct-block {
    background-color: #664BCA;
}
.direction {
    background-color: #B38DE2F0;
    border-radius: 29px;
}
.direct-photo {
    background-color: #DAD3F3;
    width: 363px;
    height: 363px;
    border-radius: 29px 0px 0px 29px;
    @media (max-width: 767.98px) {
        border-radius: 29px 29px 0px 0px !important;
        width: 100%;
    }
}
.direct-info-title {
    color: white;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.direct-info div {
    color: #5835D9;
    font-size: 20px;
    font-weight: 700;
}
.btn-direct {
    position: relative;
    top: 50px;
    padding: 20px 10px;
    border-radius: 38px;
    color: white;
    font-size: 20px;
}
.btn-direct-close {
    background: linear-gradient(#FF4C4C, #810C0C);
}
.btn-direct-open {
    background: linear-gradient(#97D4A2, #21A038);
}
.stu-app {
    background-color: white;
    width: 307.27px;
}
.stu-app-title {
    background-color: #7F69D3;
    font-size: 36px;
    font-weight: 500;
    color: white;
}
.stu-app-text {
    background-color: #B38DE2F0;
    border-radius: 25px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -2.2%;
}
.photo-student {
    height: 282px;
    width: 261px;
}
.btn-all-app {
    background-color: #D9D9D9;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -2.2%;
    text-align: center;
    width: 150px;
    height: 78px;
    border: none;
    border-radius: 18px;
}
.list-doc-block {
    background-color: #D9D9D9;
    min-height: 400px;
    border-radius: 59px;
}
.list-doc-title {
    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}